{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro-m">
  <div class="container">
    {{ if .Params.intro_image }}
    <div class="row justify-content-start">
        <div class="col-12">
        <img alt={{ .Title }} class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
        </div>
    </div>
    {{ end }}
    
    <div class="row justify-content-center">
        <br>
        <br>
    </div>
    
    <div class="row justify-content-start">
      <div class="col-12 d-flex justify-content-center">
        <center> <h1> Create your IoT product in no time with OpenSource software and hardware! </h1> <h2> Likewise we support you in developing your own products, just contact us: </h2></center>.
        {{ .Content }}
      </div>
        
      <div class="col-12 d-flex justify-content-center">
      <center>
        {{ if .Site.Params.homepage.show_contact_box }}
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
        {{ end }}
      </center>
      </div>
    </div>
  </div>
</div>

<div class="strip">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
            <center>
                <br>
                <h1> Products </h1>
                <div class="pServiceNJ">
                    <p>
                    We offer IoT sensor gateways. With the PlainSense Gateway, for example, you can turn your own sensor technology into a self-sufficient data node in no time at all. With our products, we place particular emphasis on quality and transparency, which is why we deliver the source code and all design documents with the products.
                    </p>
                </div>
                <img src="/images/uploads/network.jpg" alt="drawing" style="width:80%;"/>
                <br>
                <br>
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <a class="button button-primary" href="{{ "products/" | relURL }}">Show products</a>
                  </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            </center>
        </div>
    </div>
</div>


{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pb-md-10">
  <center> <h1> Our services </h1> </center>
  <br><br>
    <div class="row justify-content-start">
      {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
      {{ range first 4 (sort $services ".Params.weight") }}
      <div class="col-12 col-md-6 col-lg-6 mb-2">
        {{ .Render "summary" }}
    </div>
      {{ end }}
    </div>
    {{ if not .Site.Params.homepage.show_services_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services/" | relURL }}">Show all services</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip">
  <br><br>
  <center> <h1 class ="strip-grey-h1">What distinguishes us </h1> </center>
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo" src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="pService">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}
