<div class="service service-summary product">
    <br>
    <h2 class="service-title">
      <center> {{ .Title }} </center>
    </h2>
      <center><a href="{{ .RelPermalink }}"><img class="image" width="500" alt="{{ .Title }} logo" src="{{ .Params.image | relURL }}" /></a></center>
    <br>
    <div style="padding:15px;">
      <div class="content">
        {{markdownify .Params.short}}
      </div>
    </div>
    <center>
      <div class="call-box-bottom">
        <a href="{{ .RelPermalink }}" class="button">mehr erfahren ...</a>
      </div>
      </center>
      <br>
</div>
<br>
