.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(50, 50, 93, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 110px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(50, 50, 93, 0.3), 0 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}
