.header {
  color: $primary;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px darken($primary, 10);
  margin-bottom:4px;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
