.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  overflow: hidden;
  background: $white-offset;
  @include media-breakpoint-up(md) {
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 38px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-m {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  background: $white-offset;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 38px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}


.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
