.intro-image {
  width: 80%;
  height: auto;
  margin-top: -20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.intro-image-p {
  box-shadow: 0 5px 15px rgba(50, 50, 93, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 50%;
  border: solid #000;
  border-width: 1px;
}

.intro-image-absolute {
  max-width: 500px;
  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    bottom: -60px;
    left: -60px;
    width: 450px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -60px;
    left: -60px;
    width: 450px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -60px;
    left: -60px;
    width: 500px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
