a {
  color: $primary;
}

.image-text {
    max-width:100%;
}

p {
  line-height: 26px;
  color: $white;
  font-family: $font-family-base;
  margin-bottom: 10px;
  margin-top: 10px;
  hyphens: auto;
  text-align-last: left;
}
.pService {
  p {
  line-height: 26px;
  color: $steel;
  font-family: $font-family-base;
  margin-bottom: 10px;
  margin-top: 10px;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  display: block;
  text-justify: distribute;
  text-align: justify;
  text-align-last: left;
  word-spacing: -2px;
  }
}
.pServiceNJ {
  p {
  line-height: 29px;
  color: $steel;
  font-family: $font-family-base;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 21px;
  display: block;
  text-align: justify;
  text-align-last: left;
  }
}

div {
  .product {
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 10px;
    padding: 0px;
  }
}

h1 {
  font-size: 24px;
  font-family: $font-family-heading;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 1.2;
  }
}
h2 {
  font-size: 20px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: 1.4;
  }
}
h3 {
  font-size: 16px;
  line-height: 1.4;
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 1.4;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
