.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 60px;
      height: auto;
    }
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: normal;
    }
    p {
    }
  }
  .team-content {
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

.team-summary-large {
  padding: 30px;
  padding-bottom: 0px;
  border-radius: 3px;
  .team-image {
    height: 110px;
    width: 110px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 110px;
      height: auto;
    }
  }
}
.team-description {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
}
.team-edu {
      color: $black;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
}
