{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      {{ if .Title }}
        <h1 class="title">{{.Title}}</h1>
      {{ end }}
      <div class="content">
          {{.Content | safeHTML}}
      </div>
    </div>
  </div>
</div>
{{ end }}
