{{ define "body_classes" }}page-services-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        <div class="pService">{{ .Content}}</div>
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          alt={{ .Title }}
          class="intro-image-p intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-16 pb-6 pt-md-2 pb-md-10">
  <h1 class="title">Product overview</h1>
    <div class="row justify-content-center">
      {{ range .Pages.ByWeight }}
        {{ .Render "summary" }}
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

