.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.service-content {
    overflow-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: regular;
    color: rgb(104, 104, 104);
    text-align: center;
    ul {
        text-align: center;
        list-style-position: inside;
        list-style-type: none;
    }
}

.image-services-advanced {
    margin: 0px;
    width: 200px;
}
