<div class="service service-summary">
  <div class="service-content">
    <h2 class="service-title">
      <img class="image" width="100" height="100" alt="{{ .Title }} logo" src="{{ .Params.image | relURL }}" />
      <br>
      {{ .Title }}
    </h2>
    <div class="pService">{{ .Content}}</div>
  </div>
</div>
