<div class="team team-summary">
  {{ if .Params.image }}
  <div class="team-image">
    <img width="360" height="360" alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    <h2 class="team-name">{{ .Title }}</h2>
    <p class="team-description">{{ .Params.Jobtitle }}</p>
    <p class="team-description">{{ .Params.Edu }}</p>
    {{ if .Params.Linkedinurl }}
      <a target="_blank" rel="noreferrer" href="{{ .Params.Linkedinurl }}">LinkedIn</a> 
    {{ end }}
  </div>
  <div class="team-content"></div>
</div>
