<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
          <h3 class="footer-title">{{.Site.Title}}</h3>
      </div>
      <div class="col-md-9 col-12">
        <div class="footer-inner">
          {{ partial "footer-menu" . }}
        </div>
      </div>
    </div>
  </div>
</div>
