<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
            {{ partial "social.html" . }}
          {{ end }}
          {{ if .Site.Params.footer.copyright_text }}
            <div class="copyright">{{ .Site.Params.footer.copyright_text | safeHTML }}</div>
          {{ end }}
        </div>
          <div>
            <div>
              <p>TTI  Technologie-Transfer-Initiative GmbH an der Universität Stuttgart </p>
              <p>TGU  PlainCore Robotics & Embedded Systems</p>
              <p>Nobelstraße 15</p>
              <p>70569 Stuttgart</p>
              <p>info@plaincore.de</p>
              <p>Tel.: +49 (0) 1578 9077035</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
